# # To run locally using python manage.py runserver
# DB_HOST=localhost 
# # To run with docker-compose.yaml. Mimic production DB
DB_HOST=192.168.0.105

DB_NAME=
DB_USER=
DB_PASSWORD=
DB_PORT=
DEBUG=1

SECRET_KEY=secret_key_qoihrw1892351o5ui9y887qrfhn23oiurh298h932u

# For docker development
DB_NAME_DEV=offersAdmin
DB_USER_DEV=postgres
DB_PASSWORD_DEV=postgres
DB_HOST_DEV=postgres
DB_PORT_DEV=5432